.Projects {
  background-color: #634dd1;
  padding: 69px 220px;
  .Header {
    text-align: center;
    // padding-top: 69px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    h1 {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  .completedProjectsWrapper {
    display: flex;
    flex-direction: column;
    // grid-template-columns: auto auto auto;
    margin-top: 69px;
    .completedProjects {
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.5px;
    }
    .completedProjectsList {
      margin-top: 24px;
      grid-template-columns: auto auto auto;
      display: grid;
      row-gap: 30px;
      column-gap: 30px;
      width: 100%;
    }
  }
}
