@media only screen and (min-width: 0px) and (max-width: 321px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 69px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}
@media only screen and (min-width: 321px) and (max-width: 376px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      h1 {
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      h1 {
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 69px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 45.54px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 297px;
      h1 {
        font-size: 52.8px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 45.54px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 53.13px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 346.5px;
      h1 {
        font-size: 61.6px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 53.13px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2000px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 69px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {
  .Services {
    background-color: #0e1250;
    //   margin-top: -300px;
    // padding: 0px 11.5% 113px 11.5%;
    padding: 95.22px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 621px;
      h1 {
        font-size: 110.4px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 95.22px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 2561px) {
  .Services {
    background-color: #0e1250;
    padding: 145.59px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 949.5px;
      h1 {
        font-size: 168.8px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .cardWrapper {
      margin-top: 145.59px;
      display: flex;
      justify-content: space-between;
    }
  }
}
