.Hero {
  // height: 873px;
  // height: 100vh;
  // padding-top: 92.61px;
  // padding-left: 220px;
  // padding-right: 220px;
  padding: 112px 220px 150px 220px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("../../Assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .heroTop {
    // border-radius: 10px;
    align-self: flex-start;
    // padding: 20px 20px;
    margin-top: 75px;
    width: 650px;
    // background-color: #2ee5f99e;
    // color: #021f4b;
    // background-color: rgba(240, 255, 255, 0.71);
    .heroTopHeader {
      font-size: 80px;
      font-weight: 600;
      margin-bottom: 5px;
      letter-spacing: -1px;
    }
    .heroTopSubHeader {
      font-size: 40px;
      margin-bottom: 15px;
      padding-right: 40px;
      font-weight: lighter;
      font-style: normal;
      // font-weight: 100;
      // color: #021f4b;
    }
    .heroButtonWrapper {
      display: flex;
      .heroButtonSpacer {
        margin-left: 62px;
      }
      .heroButton1 {
        color: white;
        border: 2px solid #0095ff;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #0095ff;
        font-weight: 100;
        cursor: pointer;
        font-size: 30px;
      }
      .heroButton1:hover {
        border: 2px solid white;
        background-color: transparent;
        transition: 0.2s ease-in-out;
      }
      .heroButton2 {
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        border: 2px solid white;
        background-color: transparent;
        font-weight: 100;
        cursor: pointer;
        font-size: 30px;
      }
      .heroButton2:hover {
        border: 2px solid #0095ff;
        background-color: #0095ff;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
