@media only screen and (min-width: 0px) and (max-width: 321px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2000px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}

@media only screen and (min-width: 2561px) {
  .Team {
    background-color: #0e1250;
    padding: 69px 11.5%;
    .Header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    .teamContent {
      display: flex;
      justify-content: space-between;
      margin-top: 69px;
      .teamImage {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
      .teamContentText {
        text-align: right;
        margin-left: 110px;
        .teamHeader {
          font-size: 60px;
          font-weight: 700;
          letter-spacing: 1.5px;
        }
        .teamSubHeader {
          margin-top: 20px;
          padding-left: 10%;
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
        .teamText {
          margin-top: 10px;
          // padding-left: 10%;
          font-size: 35px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}
