.About {
  //   height: 500px;
  padding: 60px 160px;
  //   text-align: center;
  .aboutContent {
    .aboutContentHeader {
      text-align: center;
      font-size: 75px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    .aboutContentSeperator {
      width: 600px;
    }
    .aboutContentBody {
      //   width: 1500px;
      padding: 0px 140px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      .aboutContentImage {
        margin-right: 30px;
        .contentImage {
          width: 400px;
          height: 484.33px;
          // border-radius: 50%;
          // margin-right: 50px;
        }
      }
      .aboutContentText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .aboutContentBodyText {
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 15px;
          p {
            margin: 0px;
          }
        }
      }
    }
  }
}
