@media only screen and (min-width: 0px) and (max-width: 321px) {

}
@media only screen and (min-width: 321px) and (max-width: 376px) {

}

@media only screen and (min-width: 376px) and (max-width: 426px) {

}

@media only screen and (min-width: 427px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1441px) and (max-width: 2000px) {

}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {
  
}

@media only screen and (min-width: 2561px) {

}

.Contact {
  background-color: #634dd1;
  padding: 69px 11.5%;
  .Header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    h1 {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  .contactContent {
    display: flex;
    align-items: center;
    margin-top: 69px;
    justify-content: space-between;
    .contactText {
      // height: 100%;
      font-size: 40px;
      font-weight: 800;
      width: 40%;
      text-align: right;
      letter-spacing: 1px;
    }
  }
}
