@media only screen and (min-width: 0px) and (max-width: 321px) {
  .contactForm {
    padding: 30px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 100%;
    height: 575px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
        display: none;
      }
      .inputField {
        width: 100%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
        display: none;
      }
      .areaField {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 10px 8px;
        font-size: 10px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 8px;
        font-size: 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}
@media only screen and (min-width: 321px) and (max-width: 376px) {
  .contactForm {
    padding: 30px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 100%;
    height: 575px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
        display: none;
      }
      .inputField {
        width: 100%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 25px;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
        display: none;
      }
      .areaField {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 22px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 18px 12px;
        font-size: 12px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 18px 12px;
        font-size: 12px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .contactForm {
    padding: 30px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 100%;
    height: 575px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 5px;
      .formLabel {
        font-size: 15px;
        font-weight: 600;
        max-width: 80px;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 15px 8px;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 15px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 18px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 15px 10px;
        font-size: 13px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 15px 10px;
        font-size: 13px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  .contactForm {
    padding: 30px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 100%;
    height: 575px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 5px;
      .formLabel {
        font-size: 20px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 20px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      // margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contactForm {
    padding: 20px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.6s ease;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 7px;
      .formLabel {
        font-size: 16.5px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 6.6px 10px;
        font-size: 16.5px;
        font-weight: 600;
        min-width: 250.521px;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3.3px;
      .formLabel {
        font-size: 16.5px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 112.2px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 3.3px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 6.6px 10px;
        font-size: 16.6px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-top: 5px;
      margin-left: auto;
      margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 6.6px 13px;
        font-size: 20px;
        border: 1.32px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 6.6px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 1.32px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 6.6px 13px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 1.32px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .contactForm {
    padding: 23.1px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 10px;
      .formLabel {
        font-size: 19.25px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 19.25px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .formLabel {
        font-size: 19.25px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 19.25px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      margin-top: 5px;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 23.1px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 23.1px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2000px) {
  .contactForm {
    padding: 30px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 53%;
    height: 575px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 25px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 25px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px;
        font-size: 25px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 30px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {
  .contactForm {
    padding: 41.4px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 75%;
    border-radius: 13.8px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 18px;
      .formLabel {
        font-size: 34.5px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 18px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 13.8px 20.7px;
        font-size: 34.5px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 34.5px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 13.8px 20.7px;
        font-size: 34.5px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      margin-top: 18px;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 13.8px 27.6px;
        font-size: 41.4px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 13.8px 27.6px;
        font-size: 41.4px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}

@media only screen and (min-width: 2561px) {
  .contactForm {
    padding: 63.3px;
    background-color: #fff;
    color: hsl(244, 7%, 47%);
    width: 75%;
    border-radius: 21.1px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      justify-content: space-between;
      // text-align: center;
      align-items: center;
      margin-bottom: 25px;
      .formLabel {
        font-size: 52.75px;
        font-weight: 600;
      }
      .inputField {
        width: 70%;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 21.1px 31.65px;
        font-size: 52.75px;
        font-weight: 600;
      }
    }
    .formAreaRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .formLabel {
        font-size: 52.75px;
        font-weight: 600;
      }
      .areaField {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        min-height: 170px;
        border: none;
        background-color: #f8fafb;
        color: #a0a6ac;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 21.1px 31.65px;
        font-size: 52.75px;
        font-weight: 600;
        resize: none;
      }
    }
    .formButtons {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      margin-top: 52.75px;
      // width: 25%;
      justify-content: space-between;
      .resetButtonWrapper {
        display: flex;
        transition: all 0.6s ease;
      }
      .confirmButtonWrapper {
        display: flex;
        transform: translateX(-10%);
        transition: all 0.6s ease;
      }
      .resetButton {
        background-color: transparent;
        color: #0095ff;
        border-radius: 5px;
        padding: 21.1px 42.2px;
        font-size: 63.3px;
        border: 2px solid #0095ff;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: 0px 10px;
      }
      .resetButton:hover {
        background-color: #0095ff;
        color: white;
      }
      .formButton {
        border: 2px solid #0095ff;
        background-color: transparent;
        border-radius: 5px;
        padding: 21.1px 42.2px;
        font-size: 63.3px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #0095ff;
        color: white;
      }
      .formButton:hover {
        border: 2px solid #0095ff;
        background-color: transparent;
        color: #0095ff;
      }
    }
  }
}
