.Navbar {
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 220px;
  width: 100%;
  .Logo {
    .LogoImage {
      width: 90px;
      height: 90px;
      cursor: pointer;
    }
  }
  .NavbarElements {
    // margin-right: auto;
    display: flex;
    align-items: center;
    .NavbarElement {
      margin: 0px 41px;
      font-size: 27px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: -0.25px;
      cursor: pointer;
      height: 100%;
      // padding: 10.4px 0px;
      padding-top: 9.4px;
      padding-bottom: 10.4px;
      border-bottom: 1px solid transparent;
    }
    .NavbarElement:hover {
      border-bottom: 1px solid white;
      // transition: width 1s ease-in .2s;
      // transition: width 5s ease-in-out;
      transition: 0.2s ease-in-out;
    }
    .ContactButton {
      margin-left: 41px;
      font-size: 25px;
      border: 2px solid #0095ff;
      border-radius: 5px;
      padding: 9.42px 18.23px;
      background-color: #0095ff;
      cursor: pointer;
    }
    .ContactButton:hover {
      border: 2px solid white;
      background-color: transparent;
      transition: 0.2s ease-in-out;
    }
  }
}
